In [1]:
#Load the necessary Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv('loan.csv')

/var/folders/_1/j7jqjd896yb00t516lkn5j280000gn/T/ipykernel_1426/2065032070.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('loan.csv')

In [21]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [23]:
# Get the shape of the dataframe
print(f'Shape of dataframe {df.shape}')

Shape of dataframe (39717, 111)

39717

In [27]:
## 1. Find Columns which are completely null and then drop them

print(f'Shape of dataframe {df.shape}')
for col in df.columns:
    print(f'{col} have {df[col].isna().sum()} null values')

## Identify columns which are having all null values
dropped_cols=0
for col in df.columns:
    if df[col].isna().sum() == len(df):
        print(f'{col} can be dropped')
        dropped_cols+=1

print(f'Total columns dropped are {dropped_cols}')
print(f'About {round(dropped_cols*100/df.shape[1])} % columns are dropped from Dataframe')

Shape of dataframe (39717, 111)
id have 0 null values
member_id have 0 null values
loan_amnt have 0 null values
funded_amnt have 0 null values
funded_amnt_inv have 0 null values
term have 0 null values
int_rate have 0 null values
installment have 0 null values
grade have 0 null values
sub_grade have 0 null values
emp_title have 2459 null values
emp_length have 1075 null values
home_ownership have 0 null values
annual_inc have 0 null values
verification_status have 0 null values
issue_d have 0 null values
loan_status have 0 null values
pymnt_plan have 0 null values
url have 0 null values
desc have 12942 null values
purpose have 0 null values
title have 11 null values
zip_code have 0 null values
addr_state have 0 null values
dti have 0 null values
delinq_2yrs have 0 null values
earliest_cr_line have 0 null values
inq_last_6mths have 0 null values
mths_since_last_delinq have 25682 null values
mths_since_last_record have 36931 null values
open_acc have 0 null values
pub_rec have 0 null values
revol_bal have 0 null values
revol_util have 50 null values
total_acc have 0 null values
initial_list_status have 0 null values
out_prncp have 0 null values
out_prncp_inv have 0 null values
total_pymnt have 0 null values
total_pymnt_inv have 0 null values
total_rec_prncp have 0 null values
total_rec_int have 0 null values
total_rec_late_fee have 0 null values
recoveries have 0 null values
collection_recovery_fee have 0 null values
last_pymnt_d have 71 null values
last_pymnt_amnt have 0 null values
next_pymnt_d have 38577 null values
last_credit_pull_d have 2 null values
collections_12_mths_ex_med have 56 null values
mths_since_last_major_derog have 39717 null values
policy_code have 0 null values
application_type have 0 null values
annual_inc_joint have 39717 null values
dti_joint have 39717 null values
verification_status_joint have 39717 null values
acc_now_delinq have 0 null values
tot_coll_amt have 39717 null values
tot_cur_bal have 39717 null values
open_acc_6m have 39717 null values
open_il_6m have 39717 null values
open_il_12m have 39717 null values
open_il_24m have 39717 null values
mths_since_rcnt_il have 39717 null values
total_bal_il have 39717 null values
il_util have 39717 null values
open_rv_12m have 39717 null values
open_rv_24m have 39717 null values
max_bal_bc have 39717 null values
all_util have 39717 null values
total_rev_hi_lim have 39717 null values
inq_fi have 39717 null values
total_cu_tl have 39717 null values
inq_last_12m have 39717 null values
acc_open_past_24mths have 39717 null values
avg_cur_bal have 39717 null values
bc_open_to_buy have 39717 null values
bc_util have 39717 null values
chargeoff_within_12_mths have 56 null values
delinq_amnt have 0 null values
mo_sin_old_il_acct have 39717 null values
mo_sin_old_rev_tl_op have 39717 null values
mo_sin_rcnt_rev_tl_op have 39717 null values
mo_sin_rcnt_tl have 39717 null values
mort_acc have 39717 null values
mths_since_recent_bc have 39717 null values
mths_since_recent_bc_dlq have 39717 null values
mths_since_recent_inq have 39717 null values
mths_since_recent_revol_delinq have 39717 null values
num_accts_ever_120_pd have 39717 null values
num_actv_bc_tl have 39717 null values
num_actv_rev_tl have 39717 null values
num_bc_sats have 39717 null values
num_bc_tl have 39717 null values
num_il_tl have 39717 null values
num_op_rev_tl have 39717 null values
num_rev_accts have 39717 null values
num_rev_tl_bal_gt_0 have 39717 null values
num_sats have 39717 null values
num_tl_120dpd_2m have 39717 null values
num_tl_30dpd have 39717 null values
num_tl_90g_dpd_24m have 39717 null values
num_tl_op_past_12m have 39717 null values
pct_tl_nvr_dlq have 39717 null values
percent_bc_gt_75 have 39717 null values
pub_rec_bankruptcies have 697 null values
tax_liens have 39 null values
tot_hi_cred_lim have 39717 null values
total_bal_ex_mort have 39717 null values
total_bc_limit have 39717 null values
total_il_high_credit_limit have 39717 null values
mths_since_last_major_derog can be dropped
annual_inc_joint can be dropped
dti_joint can be dropped
verification_status_joint can be dropped
tot_coll_amt can be dropped
tot_cur_bal can be dropped
open_acc_6m can be dropped
open_il_6m can be dropped
open_il_12m can be dropped
open_il_24m can be dropped
mths_since_rcnt_il can be dropped
total_bal_il can be dropped
il_util can be dropped
open_rv_12m can be dropped
open_rv_24m can be dropped
max_bal_bc can be dropped
all_util can be dropped
total_rev_hi_lim can be dropped
inq_fi can be dropped
total_cu_tl can be dropped
inq_last_12m can be dropped
acc_open_past_24mths can be dropped
avg_cur_bal can be dropped
bc_open_to_buy can be dropped
bc_util can be dropped
mo_sin_old_il_acct can be dropped
mo_sin_old_rev_tl_op can be dropped
mo_sin_rcnt_rev_tl_op can be dropped
mo_sin_rcnt_tl can be dropped
mort_acc can be dropped
mths_since_recent_bc can be dropped
mths_since_recent_bc_dlq can be dropped
mths_since_recent_inq can be dropped
mths_since_recent_revol_delinq can be dropped
num_accts_ever_120_pd can be dropped
num_actv_bc_tl can be dropped
num_actv_rev_tl can be dropped
num_bc_sats can be dropped
num_bc_tl can be dropped
num_il_tl can be dropped
num_op_rev_tl can be dropped
num_rev_accts can be dropped
num_rev_tl_bal_gt_0 can be dropped
num_sats can be dropped
num_tl_120dpd_2m can be dropped
num_tl_30dpd can be dropped
num_tl_90g_dpd_24m can be dropped
num_tl_op_past_12m can be dropped
pct_tl_nvr_dlq can be dropped
percent_bc_gt_75 can be dropped
tot_hi_cred_lim can be dropped
total_bal_ex_mort can be dropped
total_bc_limit can be dropped
total_il_high_credit_limit can be dropped
Total columns dropped are 54
About 49 % columns are dropped from Dataframe

In [29]:
## Identify columns which have all values as null

df.dropna(axis=1, how='all', inplace=True) # Drops columns which have all null values. Dataset is now reduced to 39717 rows and 57 columns

In [32]:
df.shape

(39717, 57)

In [36]:
len(df)

39717

In [ ]:
# 2. Find Columns which have 50% null. Drop them

print(f'Shape of dataframe {df.shape}')
for col in df.columns:
    if df[col].isna().sum() > len(df)*0.5:
        print(f'{col} have {df[col].isna().sum()} null values')

Shape of dataframe (39717, 57)
mths_since_last_delinq have 25682 null values
mths_since_last_record have 36931 null values
next_pymnt_d have 38577 null values

In [45]:
df.drop(['mths_since_last_delinq','mths_since_last_record','next_pymnt_d'], axis=1, inplace=True)

In [46]:
df.shape

(39717, 54)

In [50]:
df.dtypes

id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
pymnt_plan                     object
url                            object
desc                           object
purpose                        object
title                          object
zip_code                       object
addr_state                     object
dti                           float64
delinq_2yrs                     int64
earliest_cr_line               object
inq_last_6mths                  int64
open_acc                        int64
pub_rec                         int64
revol_bal                       int64
revol_util                     object
total_acc                       int64
initial_list_status            object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                   object
last_pymnt_amnt               float64
last_credit_pull_d             object
collections_12_mths_ex_med    float64
policy_code                     int64
application_type               object
acc_now_delinq                  int64
chargeoff_within_12_mths      float64
delinq_amnt                     int64
pub_rec_bankruptcies          float64
tax_liens                     float64
dtype: object

In [ ]:
#5. Find columns which do no have any effect on the analysis
# emp_title does not have effect in analysis
df.drop(['emp_title'], axis=1, inplace=True)

In [ ]:
# desc does not have effect in analysis
df.drop(['desc'], axis=1, inplace=True)

In [ ]:
# title does not have effect in analysis
df.drop(['title'], axis=1, inplace=True)

In [ ]:
# url does not have effect in analysis
df.drop(['url'], axis=1, inplace=True)

In [60]:
df.shape

(39717, 50)

In [62]:
df['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [ ]:
# 6. Identify the columns which needs adjustments in datatype. May be string manipulation or ommisson is required.
# Adjust the emp_length with integer values
def adjust_emp_length(empyear):
    if pd.isna(empyear):
        return empyear
    elif empyear =='< 1 year':
        return 0
    elif empyear =='1 year':
        return 1
    elif empyear == '10+ years':
        return 10
    elif 'years' in empyear:
        return int(empyear.split()[0])
    else:
        return empyear
    
df['emp_length'] = df['emp_length'].apply(func=adjust_emp_length)

In [81]:
df['emp_length'].unique()

array([10.,  0.,  1.,  3.,  8.,  9.,  4.,  5.,  6.,  2.,  7., nan])

In [85]:
# 1075 rows are Null values. We can safely inpute the values.
df['emp_length'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 39717 entries, 0 to 39716
Series name: emp_length
Non-Null Count  Dtype
--------------  -----
38642 non-null  float64
dtypes: float64(1)
memory usage: 310.4 KB

In [86]:
df['emp_length'].value_counts()

emp_length
10.0    8879
0.0     4583
2.0     4388
3.0     4095
4.0     3436
5.0     3282
1.0     3240
6.0     2229
7.0     1773
8.0     1479
9.0     1258
Name: count, dtype: int64

In [97]:
#Considering that 10 is value which is for around 25% of the values so we can impute the value 10 to null value.
df['emp_length'].fillna(10, inplace=True)
df['emp_length']=df['emp_length'].astype(dtype='Int64')

In [98]:
df['emp_length'].value_counts()

emp_length
10    9954
0     4583
2     4388
3     4095
4     3436
5     3282
1     3240
6     2229
7     1773
8     1479
9     1258
Name: count, dtype: Int64

In [99]:
df.dtypes

id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_length                      Int64
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
pymnt_plan                     object
purpose                        object
zip_code                       object
addr_state                     object
dti                           float64
delinq_2yrs                     int64
earliest_cr_line               object
inq_last_6mths                  int64
open_acc                        int64
pub_rec                         int64
revol_bal                       int64
revol_util                     object
total_acc                       int64
initial_list_status            object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                   object
last_pymnt_amnt               float64
last_credit_pull_d             object
collections_12_mths_ex_med    float64
policy_code                     int64
application_type               object
acc_now_delinq                  int64
chargeoff_within_12_mths      float64
delinq_amnt                     int64
pub_rec_bankruptcies          float64
tax_liens                     float64
dtype: object

In [100]:

df['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [ ]:
# 6. Identify the columns which needs adjustments in datatype. May be string manipulation or ommisson is required.
df['term'] = df['term'].apply(lambda x : int(x.split()[0]))

In [114]:
df['int_rate'].unique()

array(['10.65%', '15.27%', '15.96%', '13.49%', '7.90%', '18.64%',
       '21.28%', '12.69%', '14.65%', '9.91%', '16.29%', '6.03%', '11.71%',
       '12.42%', '14.27%', '16.77%', '7.51%', '8.90%', '18.25%', '6.62%',
       '19.91%', '17.27%', '17.58%', '21.67%', '19.42%', '20.89%',
       '20.30%', '23.91%', '19.03%', '23.13%', '22.74%', '22.35%',
       '22.06%', '24.11%', '6.00%', '23.52%', '22.11%', '7.49%', '11.99%',
       '5.99%', '10.99%', '9.99%', '18.79%', '11.49%', '8.49%', '15.99%',
       '16.49%', '6.99%', '12.99%', '15.23%', '14.79%', '5.42%', '10.59%',
       '17.49%', '15.62%', '19.29%', '13.99%', '18.39%', '16.89%',
       '17.99%', '20.99%', '22.85%', '19.69%', '20.62%', '20.25%',
       '21.36%', '23.22%', '21.74%', '22.48%', '23.59%', '12.62%',
       '18.07%', '11.63%', '7.91%', '7.42%', '11.14%', '20.20%', '12.12%',
       '19.39%', '16.11%', '17.54%', '22.64%', '13.84%', '16.59%',
       '17.19%', '12.87%', '20.69%', '9.67%', '21.82%', '19.79%',
       '18.49%', '22.94%', '24.40%', '21.48%', '14.82%', '14.17%',
       '7.29%', '17.88%', '20.11%', '16.02%', '13.43%', '14.91%',
       '13.06%', '15.28%', '15.65%', '17.14%', '11.11%', '10.37%',
       '16.40%', '17.51%', '7.66%', '18.62%', '10.74%', '5.79%', '6.92%',
       '10.00%', '9.63%', '14.54%', '12.68%', '19.36%', '13.80%',
       '18.99%', '21.59%', '20.85%', '21.22%', '19.74%', '20.48%',
       '6.91%', '12.23%', '12.61%', '10.36%', '6.17%', '6.54%', '9.25%',
       '16.69%', '15.95%', '8.88%', '13.35%', '9.62%', '16.32%', '12.98%',
       '14.83%', '13.72%', '14.09%', '14.46%', '20.03%', '17.80%',
       '15.20%', '15.57%', '18.54%', '19.66%', '17.06%', '18.17%',
       '17.43%', '20.40%', '20.77%', '18.91%', '21.14%', '17.44%',
       '13.23%', '7.88%', '11.12%', '13.61%', '10.38%', '17.56%',
       '17.93%', '15.58%', '13.98%', '14.84%', '15.21%', '6.76%', '6.39%',
       '11.86%', '7.14%', '14.35%', '16.82%', '10.75%', '14.72%',
       '16.45%', '18.67%', '20.53%', '19.41%', '20.16%', '21.27%',
       '18.30%', '19.04%', '20.90%', '21.64%', '12.73%', '10.25%',
       '13.11%', '10.62%', '13.48%', '14.59%', '16.07%', '15.70%',
       '9.88%', '11.36%', '15.33%', '13.85%', '14.96%', '14.22%', '7.74%',
       '13.22%', '13.57%', '8.59%', '17.04%', '14.61%', '8.94%', '12.18%',
       '11.83%', '11.48%', '16.35%', '13.92%', '15.31%', '14.26%',
       '19.13%', '12.53%', '16.70%', '16.00%', '17.39%', '18.09%',
       '7.40%', '18.43%', '17.74%', '7.05%', '20.52%', '20.86%', '19.47%',
       '18.78%', '21.21%', '19.82%', '20.17%', '13.16%', '8.00%',
       '13.47%', '12.21%', '16.63%', '9.32%', '12.84%', '11.26%',
       '15.68%', '15.37%', '10.95%', '11.89%', '14.11%', '13.79%',
       '7.68%', '11.58%', '7.37%', '16.95%', '15.05%', '18.53%', '14.74%',
       '14.42%', '18.21%', '17.26%', '18.84%', '17.90%', '19.16%',
       '13.67%', '9.38%', '12.72%', '13.36%', '11.46%', '10.51%', '9.07%',
       '13.04%', '11.78%', '12.41%', '10.83%', '12.09%', '17.46%',
       '14.30%', '17.15%', '15.25%', '10.20%', '15.88%', '14.93%',
       '16.20%', '18.72%', '14.62%', '8.32%', '14.12%', '10.96%',
       '10.33%', '10.01%', '12.86%', '11.28%', '11.59%', '8.63%',
       '12.54%', '12.22%', '11.91%', '15.38%', '16.96%', '13.17%',
       '9.70%', '16.33%', '14.75%', '15.07%', '16.01%', '10.71%',
       '10.64%', '9.76%', '11.34%', '10.39%', '13.87%', '11.03%',
       '11.66%', '13.24%', '10.08%', '9.45%', '13.55%', '12.29%',
       '11.97%', '12.92%', '15.45%', '14.50%', '14.18%', '15.13%',
       '16.08%', '15.76%', '17.03%', '17.34%', '16.71%', '9.83%',
       '13.62%', '10.46%', '9.51%', '9.20%', '13.30%', '10.78%', '7.75%',
       '8.38%', '12.36%', '12.67%', '11.72%', '13.93%', '8.07%', '7.43%',
       '12.04%', '14.25%', '14.88%', '11.41%', '11.09%', '10.14%',
       '16.15%', '15.83%', '7.12%', '18.36%', '9.64%', '9.96%', '11.22%',
       '9.01%', '9.33%', '11.54%', '12.17%', '12.80%', '14.38%', '13.75%',
       '14.70%', '12.49%', '14.07%', '10.91%', '13.12%', '10.28%',
       '8.70%', '14.67%', '15.01%'], dtype=object)

In [117]:
df['int_rate']=df['int_rate'].apply(lambda x : float(x.split('%')[0]))

/var/folders/_1/j7jqjd896yb00t516lkn5j280000gn/T/ipykernel_1426/3946507222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['int_rate']=df['int_rate'].apply(lambda x : float(x.split('%')[0]))

In [118]:
df.dtypes

id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                            int64
int_rate                      float64
installment                   float64
grade                          object
sub_grade                      object
emp_length                      Int64
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
pymnt_plan                     object
purpose                        object
zip_code                       object
addr_state                     object
dti                           float64
delinq_2yrs                     int64
earliest_cr_line               object
inq_last_6mths                  int64
open_acc                        int64
pub_rec                         int64
revol_bal                       int64
revol_util                     object
total_acc                       int64
initial_list_status            object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                   object
last_pymnt_amnt               float64
last_credit_pull_d             object
collections_12_mths_ex_med    float64
policy_code                     int64
application_type               object
acc_now_delinq                  int64
chargeoff_within_12_mths      float64
delinq_amnt                     int64
pub_rec_bankruptcies          float64
tax_liens                     float64
dtype: object

In [121]:
#6. Identify the columns which needs adjustments in datatype. May be string manipulation or ommisson is required.
df['issue_d'].unique()

array(['Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11',
       'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11',
       'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10',
       'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09',
       'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Nov-08', 'Oct-08', 'Sep-08', 'Aug-08', 'Jul-08',
       'Jun-08', 'May-08', 'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08',
       'Dec-07', 'Nov-07', 'Oct-07', 'Sep-07', 'Aug-07', 'Jul-07',
       'Jun-07'], dtype=object)

In [122]:
df['issue_d']=pd.to_datetime(df['issue_d'], format='%b-%y')

/var/folders/_1/j7jqjd896yb00t516lkn5j280000gn/T/ipykernel_1426/1080446457.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['issue_d']=pd.to_datetime(df['issue_d'], format='%b-%y')

In [123]:
df['issue_d'].unique()

<DatetimeArray>
['2011-12-01 00:00:00', '2011-11-01 00:00:00', '2011-10-01 00:00:00',
 '2011-09-01 00:00:00', '2011-08-01 00:00:00', '2011-07-01 00:00:00',
 '2011-06-01 00:00:00', '2011-05-01 00:00:00', '2011-04-01 00:00:00',
 '2011-03-01 00:00:00', '2011-02-01 00:00:00', '2011-01-01 00:00:00',
 '2010-12-01 00:00:00', '2010-11-01 00:00:00', '2010-10-01 00:00:00',
 '2010-09-01 00:00:00', '2010-08-01 00:00:00', '2010-07-01 00:00:00',
 '2010-06-01 00:00:00', '2010-05-01 00:00:00', '2010-04-01 00:00:00',
 '2010-03-01 00:00:00', '2010-02-01 00:00:00', '2010-01-01 00:00:00',
 '2009-12-01 00:00:00', '2009-11-01 00:00:00', '2009-10-01 00:00:00',
 '2009-09-01 00:00:00', '2009-08-01 00:00:00', '2009-07-01 00:00:00',
 '2009-06-01 00:00:00', '2009-05-01 00:00:00', '2009-04-01 00:00:00',
 '2009-03-01 00:00:00', '2009-02-01 00:00:00', '2009-01-01 00:00:00',
 '2008-12-01 00:00:00', '2008-11-01 00:00:00', '2008-10-01 00:00:00',
 '2008-09-01 00:00:00', '2008-08-01 00:00:00', '2008-07-01 00:00:00',
 '2008-06-01 00:00:00', '2008-05-01 00:00:00', '2008-04-01 00:00:00',
 '2008-03-01 00:00:00', '2008-02-01 00:00:00', '2008-01-01 00:00:00',
 '2007-12-01 00:00:00', '2007-11-01 00:00:00', '2007-10-01 00:00:00',
 '2007-09-01 00:00:00', '2007-08-01 00:00:00', '2007-07-01 00:00:00',
 '2007-06-01 00:00:00']
Length: 55, dtype: datetime64[ns]

In [108]:
df['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current'], dtype=object)

In [ ]:
# 4. Find rows which do not contribute anything to the analysis.
df = df[df['loan_status']!='Current']

In [113]:
df.shape

(38577, 50)

In [124]:
df.dtypes

id                                     int64
member_id                              int64
loan_amnt                              int64
funded_amnt                            int64
funded_amnt_inv                      float64
term                                   int64
int_rate                             float64
installment                          float64
grade                                 object
sub_grade                             object
emp_length                             Int64
home_ownership                        object
annual_inc                           float64
verification_status                   object
issue_d                       datetime64[ns]
loan_status                           object
pymnt_plan                            object
purpose                               object
zip_code                              object
addr_state                            object
dti                                  float64
delinq_2yrs                            int64
earliest_cr_line                      object
inq_last_6mths                         int64
open_acc                               int64
pub_rec                                int64
revol_bal                              int64
revol_util                            object
total_acc                              int64
initial_list_status                   object
out_prncp                            float64
out_prncp_inv                        float64
total_pymnt                          float64
total_pymnt_inv                      float64
total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
recoveries                           float64
collection_recovery_fee              float64
last_pymnt_d                          object
last_pymnt_amnt                      float64
last_credit_pull_d                    object
collections_12_mths_ex_med           float64
policy_code                            int64
application_type                      object
acc_now_delinq                         int64
chargeoff_within_12_mths             float64
delinq_amnt                            int64
pub_rec_bankruptcies                 float64
tax_liens                            float64
dtype: object

In [132]:
df.drop(['pymnt_plan'], inplace=True, axis=1)

/var/folders/_1/j7jqjd896yb00t516lkn5j280000gn/T/ipykernel_1426/63720392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['pymnt_plan'], inplace=True, axis=1)

In [133]:
df.shape

(38577, 49)

In [134]:
df.dtypes

id                                     int64
member_id                              int64
loan_amnt                              int64
funded_amnt                            int64
funded_amnt_inv                      float64
term                                   int64
int_rate                             float64
installment                          float64
grade                                 object
sub_grade                             object
emp_length                             Int64
home_ownership                        object
annual_inc                           float64
verification_status                   object
issue_d                       datetime64[ns]
loan_status                           object
purpose                               object
zip_code                              object
addr_state                            object
dti                                  float64
delinq_2yrs                            int64
earliest_cr_line                      object
inq_last_6mths                         int64
open_acc                               int64
pub_rec                                int64
revol_bal                              int64
revol_util                            object
total_acc                              int64
initial_list_status                   object
out_prncp                            float64
out_prncp_inv                        float64
total_pymnt                          float64
total_pymnt_inv                      float64
total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
recoveries                           float64
collection_recovery_fee              float64
last_pymnt_d                          object
last_pymnt_amnt                      float64
last_credit_pull_d                    object
collections_12_mths_ex_med           float64
policy_code                            int64
application_type                      object
acc_now_delinq                         int64
chargeoff_within_12_mths             float64
delinq_amnt                            int64
pub_rec_bankruptcies                 float64
tax_liens                            float64
dtype: object

In [136]:
df.drop(['zip_code'], inplace=True, axis=1)

/var/folders/_1/j7jqjd896yb00t516lkn5j280000gn/T/ipykernel_1426/2702218246.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['zip_code'], inplace=True, axis=1)

In [137]:
df.shape

(38577, 48)

In [138]:
df.dtypes

id                                     int64
member_id                              int64
loan_amnt                              int64
funded_amnt                            int64
funded_amnt_inv                      float64
term                                   int64
int_rate                             float64
installment                          float64
grade                                 object
sub_grade                             object
emp_length                             Int64
home_ownership                        object
annual_inc                           float64
verification_status                   object
issue_d                       datetime64[ns]
loan_status                           object
purpose                               object
addr_state                            object
dti                                  float64
delinq_2yrs                            int64
earliest_cr_line                      object
inq_last_6mths                         int64
open_acc                               int64
pub_rec                                int64
revol_bal                              int64
revol_util                            object
total_acc                              int64
initial_list_status                   object
out_prncp                            float64
out_prncp_inv                        float64
total_pymnt                          float64
total_pymnt_inv                      float64
total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
recoveries                           float64
collection_recovery_fee              float64
last_pymnt_d                          object
last_pymnt_amnt                      float64
last_credit_pull_d                    object
collections_12_mths_ex_med           float64
policy_code                            int64
application_type                      object
acc_now_delinq                         int64
chargeoff_within_12_mths             float64
delinq_amnt                            int64
pub_rec_bankruptcies                 float64
tax_liens                            float64
dtype: object

In [140]:
df['earliest_cr_line'].unique()

array(['Jan-85', 'Apr-99', 'Nov-01', 'Feb-96', 'Nov-04', 'Jul-05',
       'Jan-07', 'Apr-04', 'Sep-04', 'Jan-98', 'Oct-89', 'Jul-03',
       'May-91', 'Sep-07', 'Oct-98', 'Aug-93', 'Oct-03', 'Jan-01',
       'Nov-97', 'Feb-83', 'Jul-85', 'Apr-03', 'Jun-01', 'Feb-02',
       'Aug-84', 'Nov-06', 'Dec-87', 'Nov-81', 'Apr-05', 'Oct-07',
       'Dec-00', 'Apr-07', 'Jan-03', 'Mar-94', 'Sep-98', 'Jun-04',
       'Nov-95', 'Jul-99', 'Jun-95', 'Sep-92', 'Jan-02', 'Apr-92',
       'Oct-06', 'May-00', 'Dec-98', 'Dec-04', 'Oct-00', 'May-02',
       'May-06', 'Jul-02', 'Jul-06', 'May-97', 'Oct-05', 'Apr-95',
       'Oct-02', 'Jan-00', 'Apr-00', 'Dec-94', 'Sep-05', 'Dec-84',
       'Dec-99', 'Nov-03', 'Jun-89', 'Jun-03', 'Oct-96', 'May-03',
       'Jun-02', 'Jun-07', 'Dec-96', 'Sep-02', 'Jan-86', 'May-98',
       'Jan-97', 'Jun-05', 'Feb-90', 'Mar-04', 'Jul-95', 'Aug-94',
       'Jun-92', 'Mar-97', 'Apr-06', 'Apr-90', 'Aug-99', 'Sep-00',
       'Feb-01', 'Dec-88', 'Feb-99', 'Dec-91', 'Aug-00', 'Oct-04',
       'Aug-04', 'Feb-05', 'Nov-05', 'Nov-00', 'May-07', 'Jan-91',
       'Jun-00', 'Aug-06', 'Dec-02', 'Jun-93', 'Jun-06', 'Feb-04',
       'Dec-90', 'Mar-00', 'Feb-95', 'Jul-01', 'Apr-02', 'Dec-01',
       'Sep-06', 'May-99', 'Aug-98', 'Dec-05', 'May-04', 'Oct-01',
       'Jun-83', 'Mar-86', 'Apr-80', 'Jul-04', 'Jul-08', 'May-96',
       'Jan-04', 'Nov-02', 'Aug-02', 'Aug-01', 'Mar-91', 'Sep-89',
       'Sep-94', 'Sep-03', 'Sep-99', 'Aug-05', 'Dec-86', 'Nov-98',
       'Feb-06', 'May-94', 'Nov-07', 'Feb-93', 'Nov-91', 'May-05',
       'Mar-90', 'Mar-96', 'Oct-79', 'Jun-81', 'Mar-01', 'Apr-01',
       'Jun-99', 'Nov-93', 'Jan-06', 'Dec-97', 'Nov-94', 'Jul-97',
       'Oct-91', 'Jun-94', 'Mar-06', 'Sep-96', 'Apr-91', 'Jul-93',
       'Jan-95', 'Sep-87', 'Mar-03', 'Oct-99', 'Jul-96', 'Dec-03',
       'Aug-88', 'Mar-98', 'Feb-07', 'Dec-92', 'Jul-98', 'Jul-89',
       'May-90', 'Jul-94', 'Sep-01', 'Mar-84', 'Nov-99', 'Mar-07',
       'Mar-08', 'Apr-94', 'Jan-05', 'Jul-86', 'Aug-90', 'May-92',
       'Jul-00', 'Mar-88', 'May-83', 'Apr-93', 'Jul-78', 'Mar-95',
       'Feb-00', 'Dec-81', 'Mar-92', 'Jan-81', 'Sep-90', 'Jun-98',
       'May-93', 'May-01', 'Nov-96', 'Feb-97', 'Jan-92', 'Mar-02',
       'Jan-88', 'Aug-97', 'Aug-87', 'Aug-08', 'Oct-94', 'Feb-94',
       'Jun-96', 'Feb-98', 'Nov-08', 'Apr-98', 'Jul-79', 'Jan-93',
       'May-87', 'Jul-71', 'Aug-07', 'Jun-97', 'Mar-80', 'Dec-06',
       'Jul-07', 'Oct-95', 'Jan-96', 'Jul-91', 'Jul-92', 'Dec-72',
       'Dec-93', 'Jan-99', 'Feb-03', 'Apr-97', 'Dec-95', 'Jul-90',
       'Mar-70', 'Nov-84', 'Apr-84', 'Jul-84', 'Aug-95', 'Mar-99',
       'Sep-88', 'Mar-89', 'Mar-87', 'Oct-97', 'Dec-80', 'Jan-94',
       'Aug-03', 'Mar-05', 'Jan-89', 'Apr-96', 'Oct-86', 'Feb-92',
       'Jan-90', 'Nov-90', 'Mar-69', 'Jun-75', 'Mar-85', 'Dec-07',
       'Sep-95', 'Oct-93', 'Dec-89', 'Sep-80', 'Jun-88', 'May-78',
       'Aug-89', 'Oct-90', 'Sep-91', 'Feb-82', 'Feb-87', 'Nov-85',
       'Jan-84', 'Jul-88', 'May-08', 'Oct-85', 'Mar-83', 'Aug-91',
       'Sep-86', 'Jun-90', 'Feb-86', 'Jun-84', 'Sep-81', 'Apr-86',
       'Aug-79', 'Aug-80', 'Nov-92', 'Sep-93', 'Jun-87', 'Feb-84',
       'Aug-92', 'Aug-85', 'Jul-83', 'Dec-83', 'Jan-87', 'Nov-78',
       'Aug-96', 'Nov-89', 'Sep-76', 'Nov-86', 'Oct-87', 'Sep-08',
       'May-77', 'May-86', 'Mar-81', 'Jan-83', 'Sep-79', 'Oct-83',
       'Sep-62', 'Jun-85', 'May-82', 'Feb-88', 'Oct-92', 'Aug-83',
       'Sep-97', 'Jun-73', 'Apr-85', 'Oct-88', 'Oct-81', 'Sep-68',
       'Jul-74', 'Nov-87', 'May-95', 'Feb-91', 'Mar-93', 'Jun-08',
       'Jul-80', 'Dec-82', 'Mar-75', 'Oct-84', 'Feb-80', 'Nov-88',
       'Apr-88', 'Sep-85', 'Sep-71', 'Mar-78', 'Feb-08', 'Aug-78',
       'Nov-70', 'Jun-79', 'Jun-80', 'Apr-89', 'Sep-83', 'Feb-89',
       'Oct-82', 'Aug-86', 'Oct-80', 'May-88', 'Dec-85', 'Jan-82',
       'Sep-77', 'Dec-76', 'Apr-82', 'May-84', 'Apr-08', 'Feb-79',
       'Jan-08', 'Jul-87', 'Jan-78', 'May-89', 'Oct-77', 'Dec-75',
       'Oct-08', 'Feb-85', 'Nov-82', 'May-75', 'May-85', 'Feb-71',
       'Jun-77', 'Apr-81', 'May-79', 'Jan-72', 'Jun-86', 'Sep-67',
       'Apr-78', 'Feb-65', 'Nov-75', 'Jun-67', 'Dec-79', 'Aug-67',
       'Apr-71', 'Sep-84', 'Aug-82', 'May-81', 'Dec-70', 'Oct-73',
       'Jan-71', 'Dec-63', 'Apr-74', 'Jan-80', 'Aug-69', 'Apr-75',
       'Jul-77', 'Mar-77', 'Nov-69', 'Jan-76', 'Nov-83', 'Mar-82',
       'Apr-87', 'Dec-69', 'May-74', 'Aug-74', 'Jun-91', 'Jun-72',
       'Mar-63', 'Jul-72', 'Aug-75', 'Sep-82', 'Sep-74', 'Aug-81',
       'Nov-76', 'May-73', 'Dec-73', 'Sep-73', 'Mar-73', 'Dec-77',
       'Oct-76', 'Jan-74', 'Jan-70', 'Aug-68', 'Apr-83', 'Jan-75',
       'Dec-74', 'Feb-73', 'Nov-65', 'Jun-82', 'Jun-74', 'May-65',
       'Oct-70', 'Apr-76', 'Oct-71', 'Apr-77', 'Sep-78', 'Oct-78',
       'Oct-54', 'Feb-81', 'Jan-77', 'Aug-77', 'Dec-78', 'Aug-76',
       'Jun-68', 'Jun-78', 'Oct-72', 'Jun-69', 'May-80', 'Jan-79',
       'Oct-65', 'Nov-74', 'Apr-66', 'Jun-76', 'Feb-72', 'May-76',
       'Mar-76', 'Jul-70', 'Mar-79', 'Apr-73', 'Jul-76', 'Jul-82',
       'Sep-65', 'Apr-67', 'Oct-63', 'Feb-70', 'Jul-73', 'Feb-78',
       'Nov-71', 'Aug-72', 'Jul-75', 'Sep-70', 'Jul-81', 'Sep-72',
       'May-70', 'May-63', 'Feb-69', 'Nov-80', 'Jul-67', 'Apr-70',
       'Nov-77', 'Nov-66', 'May-71', 'Mar-68', 'Apr-79', 'May-72',
       'Feb-68', 'Nov-67', 'Apr-64', 'Feb-75', 'Mar-74', 'Jun-59',
       'Sep-56', 'Jun-66', 'Jan-46', 'Mar-66', 'Jan-63', 'Dec-50',
       'Jul-69', 'Jan-68', 'Nov-73', 'Jun-70', 'Feb-77', 'Feb-74',
       'Jan-73', 'Feb-66', 'Sep-64', 'Dec-61', 'Aug-73', 'Aug-70',
       'Sep-69', 'Jun-71', 'Sep-75', 'Dec-68', 'Feb-76', 'Nov-54',
       'Mar-72', 'Nov-79', 'Oct-69', 'Dec-65', 'Apr-72', 'Nov-72',
       'Sep-63', 'Apr-69', 'Nov-62', 'Oct-67', 'May-67', 'Nov-61',
       'Feb-67', 'Nov-68', 'Oct-75', 'Mar-71', 'Aug-71', 'Dec-66',
       'Oct-68', 'Oct-74'], dtype=object)

In [141]:
df['earliest_cr_line']=pd.to_datetime(df['earliest_cr_line'], format='%b-%y')

/var/folders/_1/j7jqjd896yb00t516lkn5j280000gn/T/ipykernel_1426/3445922075.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['earliest_cr_line']=pd.to_datetime(df['earliest_cr_line'], format='%b-%y')

In [142]:
df.dtypes

id                                     int64
member_id                              int64
loan_amnt                              int64
funded_amnt                            int64
funded_amnt_inv                      float64
term                                   int64
int_rate                             float64
installment                          float64
grade                                 object
sub_grade                             object
emp_length                             Int64
home_ownership                        object
annual_inc                           float64
verification_status                   object
issue_d                       datetime64[ns]
loan_status                           object
purpose                               object
addr_state                            object
dti                                  float64
delinq_2yrs                            int64
earliest_cr_line              datetime64[ns]
inq_last_6mths                         int64
open_acc                               int64
pub_rec                                int64
revol_bal                              int64
revol_util                            object
total_acc                              int64
initial_list_status                   object
out_prncp                            float64
out_prncp_inv                        float64
total_pymnt                          float64
total_pymnt_inv                      float64
total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
recoveries                           float64
collection_recovery_fee              float64
last_pymnt_d                          object
last_pymnt_amnt                      float64
last_credit_pull_d                    object
collections_12_mths_ex_med           float64
policy_code                            int64
application_type                      object
acc_now_delinq                         int64
chargeoff_within_12_mths             float64
delinq_amnt                            int64
pub_rec_bankruptcies                 float64
tax_liens                            float64
dtype: object

In [143]:
df['grade'].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [144]:
df['sub_grade'].unique()

array(['B2', 'C4', 'C5', 'C1', 'A4', 'E1', 'F2', 'B5', 'C3', 'B1', 'D1',
       'A1', 'B3', 'B4', 'C2', 'D2', 'A3', 'A5', 'D5', 'A2', 'E4', 'D3',
       'D4', 'F3', 'E3', 'F1', 'E5', 'G4', 'E2', 'G2', 'G1', 'F5', 'F4',
       'G5', 'G3'], dtype=object)

In [146]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'purpose', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'last_credit_pull_d', 'collections_12_mths_ex_med', 'policy_code',
       'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths',
       'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')